<div>
    <div class="text-center">
        <img ng-src = "{{image.picture}}" >
    </div>

    <ul>
        <li ng-repeat="coment in image.commentary">
            <h3>{{coment.author}}</h3>
            <pre>{{coment.comment}}</pre>

        </li>
    </ul>

    <form novalidate name="newCommentary" class="css-form form-horizontal">
        <div class="container ">
            <div class="col-md-3">
                <h4>Комментарий</h4>
                Автор<input type="text" ng-model="commentary.author" class="form-control col-md-1" required/><br />
                Название<input type ="text" ng-model ="commentary.comment" class="form-control col-md-1" required/><br/>
                <button ng-click="addCommentary(commentary)" class="btn btn-success" >Сохранить</button>
            </div>
        </div>
    </form>
</div>

