<!DOCTYPE html>
<html ng-app="photoGallery">
<head lang="en">
    <meta charset="UTF-8">
    <title>PhotoGallery</title>
    <link rel="stylesheet" href="css/bootstrap.css" type="text/css"/>
    <link rel="stylesheet" href="css/site.css" type="text/css"/>
</head>
<body>
<div class="container">
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <a ui-sref="albums" class="nav navbar-brand">ФОТОГАЛЕРЕЯ</a>
        <a ui-sref="newAlbum" class="navbar-text">Создать альбом</a>
    </div>
</div>
<div class="container">
    <ui-view>
        <div>
            <div class="container row">
                <div class="col-md-4 ">
                    <input type="text" ng-model="query" class="form-control" placeholder="Search"/>
                </div>
            </div>
            <div class="photos">
                <ul>
                    <li ng-repeat="album in albums |albumTitle:query">
                        <a ui-sref="album({albumTitle : album.tag })">
                            <img ng-src="{{album.picture}}" width="250px" height="250px"/>
                            <h4>{{ album.tag }}</h4></a>
                        <button ng-click="delete(album)" class="btn btn-default">Удалить</button>
                    </li>
                </ul>
            </div>
        </div>
    </ui-view>
</div>
<script src="libs/angular.min.js"></script>
<script src="libs/angular-ui-router.js"></script>
<script src="libs/underscore.js"></script>
<script src="libs/ui-bootstrap-tpls-0.11.0.js"></script>
<script src="js/modules/photo-gallery-module.js"></script>

<script src="js/services/albums-storage.js"></script>
<script src="js/services/photo-storage.js"></script>
<script src="js/services/storage-initializer.js"></script>

<script src="js/controllers/albums-controller.js"></script>
<script src="js/controllers/album-controller.js"></script>
<script src="js/controllers/new-album-controller.js"></script>
<script src="js/controllers/picture-controller.js"></script>

<script src="js/filters/search-by-album-title.js"></script>
<script src="js/directives/photo-album.js"></script>
</body>
</html>