<!DOCTYPE html>
<html ng-app="photoGallery">
<head lang="en">
    <meta charset="UTF-8">
    <title>PhotoGallery</title>
    <link rel="stylesheet" href="css/site.css" type="text/css"/>
    <link rel="stylesheet" href="css/bootstrap.css" type="text/css"/>
</head>
<body >
<ui-view>
<div >
    <div class="navbar navbar-inverse" role="navigation">
        <ul class="nav navbar-nav">>
            <li><h2 class="navbar navbar-brand">ФОТОГАЛЕРЕЯ</h2></li>
            <li><a ui-sref="newAlbum">Создать альбом</a></li>
            <li>Search: <input ng-model="query"  class="search-query form-control col-xs-3 col-md-3" ></li>
        </ul>

    </div>
    <div class="photos" >

        <ul>
            <li ng-repeat="album in albums |albumTitle:query">
                <a ui-sref="album({albumTitle : album.tag })"><img ng-src ="{{album.picture}}"/>
                <h4>{{ album.tag }}</h4></a>
            </li>
        </ul>
    </div>
</div>
</ui-view>
<script src="dataInitializer.js"></script>
<script src="libs/angular.js"></script>
<script src="libs/angular-ui-router.js"></script>
<script src="libs/underscore.js"></script>
<script src="libs/ui-bootstrap-tpls-0.11.0.js"></script>

<script src="js/modules/photoGalleryModule.js"></script>

<script src="js/services/albumsStorage.js"></script>
<script src="js/services/photoStorage.js"></script>

<script src="js/controllers/AlbumsController.js"></script>
<script src="js/controllers/AlbumController.js"></script>
<script src="js/controllers/NewAlbumController.js"></script>
<script src="js/controllers/PictureController.js"></script>

<script src="js/filters/searchByAlbumTitle.js"></script>
<script src="js/directives/photoAlbum.js"></script>
</body>
</html>